*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Sono', monospace; */
}

body {
    background-color: rgb(212, 216, 220);
    background-image: url(background/Background_weather.jpg);
    -webkit-transition: background-image 800ms ease-in-out;
    -ms-transition: background-image 800ms ease-in-out;
    transition: background-image 800ms ease-in-out;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 100px;
}

.main {
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    height: auto;
    padding: 20px;
    width: fit-content;
    min-width: 550px;
}

/* .main {
    background-color: rgba(144, 144, 216, 0.448);
    margin: 25px;
    border-radius: 30px;
    height: auto;
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
} */

::placeholder{
        color: rgb(212, 216, 220);
}

.geo-location {
    background-color: rgb(91, 94, 97);
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 20px;
    color: rgb(212, 216, 220);    
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    height: auto;
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.icon-geo {
    height: 20px;
    padding-top: 5px;
}

.geo-location:hover {
    background-color: rgba(91, 94, 97, 0.593)
}

input {
    background-color: rgba(102, 102, 106, 0.493);
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 20px;
    padding: 10px;
    min-width: 60px;
    color: rgb(212, 216, 220);    
    margin-right: 20px;
    text-align: center;
    cursor:pointer;
}

.input-add {
    background-color: rgb(91, 94, 97);
    width: 30%;
}

.input-add:hover {
    background-color: rgba(91, 94, 97, 0.593)
}

/* .search-input:focus {
    border: 1px solid #9c9dde;
}  */

.search-input button {
    width: 35px;
    height: 30px;
    cursor: pointer;
    color: #9b9b9b;
    border-radius: 50%;
    margin-left: 7px;
    transition: all 0.3s ease;
    background-color: #ffffff82;
    border: 1px solid #b3b3b3;
}

form {
    text-align: center;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 0.5px;
    border-color: rgba(28, 28, 29, 0.157);
}

.temp-divider {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35%;
    margin-right: 35%;
    border-width: 0.5px;
    border-color: rgba(28, 28, 29, 0.157);
}
  
.city-name {
    text-align: center; 
    margin: fit-content;
    padding: 0px 20px 20px;
    color: rgba(255, 255, 255, 0.892);
    font-size: calc(1vw + 1vh + 0.5vmin);
    font-weight: normal;
}

.time-date-container {
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: rgba(28, 28, 29, 0.65);
}

h3 {
    color: rgb(76, 76, 157);
    text-align: center;
    margin-top: 30px;
}

img {
    height: 40px;
    margin: auto;
    margin-left: auto;
}

.weather-status {
    height: 150px;
}

/* p {
    color:  rgba(28, 28, 29, 0.65);
    font-weight: bold;
    font-size:30px
} */

.div-1-temp {
    margin:auto;
    /* margin-top: 5%; */
    text-align: center;
    font-size: 50px;
    color: rgba(28, 28, 29, 0.65);
    width: fit-content;
    height: fit-content;
}

.div-2-real-feel {
    color: rgba(28, 28, 29, 0.65);
    margin: 5% auto 5%;
    text-align: center;
    height: fit-content;
    width: fit-content;
    font-size: 20px;
}

.div-3-description {
    margin: auto;
    margin-bottom: -30px;
    text-align: center;
    color: rgba(28, 28, 29, 0.65);
    text-transform: uppercase;
}

.div-caution {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgba(28, 28, 29, 0.65);
}

.caution-icon {
    height: 100%;
    justify-content: center;
    margin-right:10px;
    display: none;
}

.div-4-additional-info {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-size: 25 px;
    color: rgb(61, 57, 57);
    margin: auto;
    padding-top: 5px;
}

.div-4-info {
    display: flex;
    flex-direction: column;
    text-align: center;  
}

#humidity {
    padding-left: 20px
}

#wind {
    padding-left: 30px
}

.info-span {
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.sunrise-sunset-container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-size: 25 px;
    color: rgb(61, 57, 57);
    margin: auto;
    padding-top: 5px;
}

#sun-time {
    text-align: center;  
    font-size: 20px;
    font-weight: bold;
}

h4 {
    padding-left: 10px;

}

.default-photo {
    background-color: rgba(102, 102, 106, 0.842);
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 20px;
    padding: 10px;
    min-width: 60px;
    color: rgb(212, 216, 220);    
    margin-top: 50px;
    text-align: center;
    cursor:pointer;
}

.default-photo:hover {
    background-color: rgba(91, 94, 97, 0.593)
}

.error {
    margin-top: 50px;
    max-width: auto;
    text-align: center;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.836)
}

footer {
    color: rgb(255, 255, 255);
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 20px;
}